trakt:
  account: account
  series: series
  movies: watchlist
myanimelist:
  id: user_id
pushbullet:
  api: api_key
folder:
### path of the folder/mountpoint for all the media, without the leading slash
  root: mount/media/
### media and download paths, relative to the previous path
  series: series/
  anime: anime/
  movies: movies/
  downseries: downloads/series/
  downanime: downloads/anime/
  downmovies: downloads/movies/
list:
  animerename: /var/tmp/anime_rename.txt
script:
  animerenamer: ~/.flexget/anime_renamer.sh
transmission:
  host: localhost
  user: transmission
  pass: transmission
#
# Transmission configuration for port not included because int variable does not work from secrets.
# See: http://flexget.com/ticket/2745
